<section class="top__company">
    <div class="c-sheader">
        <h2 class="c-sheader__title">やまとの<br class="u-show--sp">マンション管理について</h2>
        <p class="c-sheader__desc">修繕から運営まで、 マンション管理組合様のお困りごとを幅広く解決し、<br class="u-show--pcntab">快適な暮らしをサポートします。</p>
    </div>

    <div class="top__companyimg">
        <picture>
            <source media="(max-width: 1024px)" srcset="./assets/img/management-sp.jpg">
            <img src="./assets/img/management.jpg" alt="私たちにお任せください！">
        </picture>
        <div class="top__companytitle">
            <p>私たちにお任せください<span class="top__titleitalic">！</span></p>
        </div>
    </div>

    <div class="c-sheader">
        <p class="c-sheader__desc top__companydesc">
            マンション管理士、管理業務主任者、一級建築士、施工管理士、宅建士などの<br>プロが社員として在籍しているため、<br>ワンストップでお任せいただくことが可能です。</p>
    </div>

    <div class="top__service u-flex">
        <div class="top__card u-flex">
            <a href="#" class="top__cardhead">
                <picture>
                    <source media="(max-width: 1024px)" srcset="./assets/img/company1-sp.jpg">
                    <img src="./assets/img/company1.jpg" alt="修繕工事" class="top__cardimg">
                </picture>
                <div class="top__cardtitle">
                    <p>修繕工事</p>
                </div>
            </a>

            <div class="top__cardfoot">
                <a href="#" class="top__btn">
                    <span class="top__btntext">もっと見る</span>
                    <i class="top__btnicon fas fa-chevron-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="top__card u-flex">
            <a href="#" class="top__cardhead">
                <picture>
                    <source media="(max-width: 1024px)" srcset="./assets/img/company2.jpg">
                    <img src="./assets/img/company2.jpg" alt="理事長代行・管理組合アドバイス" class="top__cardimg">
                </picture>
                <div class="top__cardtitle">
                    <p>理事長代行・<br>管理組合アドバイス</p>
                </div>
            </a>

            <div class="top__cardfoot">
                <a href="#" class="top__btn">
                    <span class="top__btntext">もっと見る</span>
                    <i class="top__btnicon fas fa-chevron-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="top__card u-flex">
            <a href="#" class="top__cardhead">
                <picture>
                    <source media="(max-width: 1024px)" srcset="./assets/img/company3.jpg">
                    <img src="./assets/img/company3.jpg" alt="マンション管理業務" class="top__cardimg">
                </picture>
                <div class="top__cardtitle">
                    <p>マンション管理業務</p>
                </div>
            </a>

            <div class="top__cardfoot">
                <a href="#" class="top__btn">
                    <span class="top__btntext">もっと見る</span>
                    <i class="top__btnicon fas fa-chevron-circle-right"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="top__companyfoot">
        <a href="#" class="c-mainbtn">
            <span class="c-mainbtn__text">やまとのマンション管理について </span>
            <i class="fas fa-chevron-right c-mainbtn__icon"></i>
        </a>
    </div>
</section>