<section class="top__hotnew">
    <div class="top__hotnewinner u-flex">
        <h2 class="top__newarticle">
            <a href="#">新着記事</a>
        </h2>
        <a href="#" class="top__hotnewinfo u-flex">
            <div class="top__hotnewtext u-flex">
                <p class="top__hotdate">2021.00.00</p>
                <p class="top__hotnewtag">コラム</p>
                <p class="top__hotnewtitle">タイトルが入りますタイトルが入ります</p>
            </div>
            <div class="top__hotnewicon">
                <i class="fas fa-chevron-circle-right"></i>
            </div>
        </a>
    </div>
</section>