<section class="top__mv">
    <div class="top__mvbg">
        <picture>
            <source media="(max-width: 1024px)" srcset="./assets/img/hero-sp.jpg">
            <img class="top__mvimg" src="./assets/img/hero.jpg" alt="マンション管理">
        </picture>
    </div>
    <div class="top__mvinner">
        <p class="top__mvdesc">分譲マンション管理の<br class="u-show--sp">お困りごと、解決します</p>
        <h1 class="top__mvheader">やまとの<br><span class="top__mvheader--accent u-accent">マンション管理</span></h1>
        <ul class="top__mvlist">
            <li class="top__mvitem"> <i class="fas fa-check top__mvicon"></i> <span>修繕工事</span></li>
            <li class="top__mvitem"> <i class="fas fa-check top__mvicon"></i> <span>理事長代行・管理組合アドバイス</span></li>
            <li class="top__mvitem"> <i class="fas fa-check top__mvicon"></i> <span>マンション管理業務</span></li>
        </ul>
    </div>
</section>