<div class="top__phone">
    <div class="top__phoneinner">
        <p class="top__phonenum">
            <i class="fas fa-phone-alt top__phoneicon"></i> 
            <span class="top__phonetext u-showtext--pc">0120-581-056</span>
            <a class="top__phonetext u-showtext--sp" href="tel:0120-581-056">0120-581-056</a>
        </p>
        <p class="top__phonetime">10:00~18:00 / 水曜日定休</p>
    </div>
</div>