<section class="top__qna">
    <div class="c-sheader">
        <h2 class="c-sheader__title">よくあるご質問</h2>
    </div>

    <ul class="top__qnalist">
        <li class="top__qnaitem">
            <a href="#" class="u-flex top__qnalink">
                <i class="fas fa-check top__qnaicon"></i>
                <p class="top__qnatext">理事長代行を依頼することのリスクはありませんか？</p>
            </a>
        </li>
        <li class="top__qnaitem">
            <a href="#" class="u-flex top__qnalink">
                <i class="fas fa-check top__qnaicon"></i>
                <p class="top__qnatext">管理不全のようなマンションや状況でも対応可能ですか？</p>
            </a>
        </li>
        <li class="top__qnaitem">
            <a href="#" class="u-flex top__qnalink">
                <i class="fas fa-check top__qnaicon"></i>
                <p class="top__qnatext">理事会での説明や管理会社との交渉もお願いできますか？<span class="top__qnatext--small">など</span></p>
            </a>
        </li>
    </ul>

    <p class="top__qnanote">お客様から多く寄せられるご質問とそ<br class="u-show--sp">の回答をご紹介します。</p>


    <div class="top__qnafoot">
        <a href="#" class="c-mainbtn">
            <span class="c-mainbtn__text">もっと見る</span>
            <i class="fas fa-chevron-right c-mainbtn__icon"></i>
        </a>
    </div>
</section>