<section class="top__release">
    <div class="c-sheader">
        <h2 class="c-sheader__title">管理組合様の声</h2>
    </div>

    <div class="top__slidecontainer">
        <div class="top__slide">
            <div class="top__slideitem">
                <a href="#">
                    <picture>
                        <source media="(max-width 767px)" srcset="./assets/img/release-sp.jpg">
                        <img class="top__slideimg" src="./assets/img/release.jpg" alt="○○○○マンション">
                    </picture>
                    <div class="top__itembody">
                        <span class="top__slidetag">
                            施工の種類
                        </span>
                        <span class="top__slidetag">
                            施工の種類
                        </span>
                        <h3 class="top__slidetitle">○○○○マンション</h3>
                    </div>
                </a>
            </div>
            <div class="top__slideitem">
                <a href="#">
                    <picture>
                        <source media="(max-width 767px)" srcset="./assets/img/release-sp.jpg">
                        <img class="top__slideimg" src="./assets/img/release.jpg" alt="○○○○マンション">
                    </picture>
                    <div class="top__itembody">
                        <span class="top__slidetag">
                            施工の種類
                        </span>
                        <span class="top__slidetag">
                            施工の種類
                        </span>
                        <h3 class="top__slidetitle">○○○○マンション</h3>
                    </div>
                </a>
            </div>
            <div class="top__slideitem">
                <a href="#">
                    <picture>
                        <source media="(max-width 767px)" srcset="./assets/img/release-sp.jpg">
                        <img class="top__slideimg" src="./assets/img/release.jpg" alt="○○○○マンション">
                    </picture>
                    <div class="top__itembody">
                        <span class="top__slidetag">
                            施工の種類
                        </span>
                        <span class="top__slidetag">
                            施工の種類
                        </span>
                        <h3 class="top__slidetitle">○○○○マンション</h3>
                    </div>
                </a>
            </div>
            <div class="top__slideitem">
                <a href="#">
                    <picture>
                        <source media="(max-width 767px)" srcset="./assets/img/release-sp.jpg">
                        <img class="top__slideimg" src="./assets/img/release.jpg" alt="○○○○マンション">
                    </picture>
                    <div class="top__itembody">
                        <span class="top__slidetag">
                            施工の種類
                        </span>
                        <span class="top__slidetag">
                            施工の種類
                        </span>
                        <h3 class="top__slidetitle">○○○○マンション</h3>
                    </div>
                </a>
            </div>
            <div class="top__slideitem">
                <a href="#">
                    <picture>
                        <source media="(max-width 767px)" srcset="./assets/img/release-sp.jpg">
                        <img class="top__slideimg" src="./assets/img/release.jpg" alt="○○○○マンション">
                    </picture>
                    <div class="top__itembody">
                        <span class="top__slidetag">
                            施工の種類
                        </span>
                        <span class="top__slidetag">
                            施工の種類
                        </span>
                        <h3 class="top__slidetitle">○○○○マンション</h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="top__slidecontrols">
            <button type="button" class="slick-prev top__slidebtn"><i class="fas fa-chevron-left"></i></button>
            <ul class="slick-dots" role="tablist">
                <li class="slick-active" role="presentation">
                    <button type="button" role="tab" id="slick-slide-control00" aria-controls="slick-slide00"
                        aria-label="1 of 2" tabindex="0" aria-selected="true">
                        1
                    </button>
                </li>
                <li role="presentation">
                    <button type="button" role="tab" id="slick-slide-control01" aria-controls="slick-slide01"
                        aria-label="2 of 2" tabindex="-1">2</button>
                </li>
                <li role="presentation">
                    <button type="button" role="tab" id="slick-slide-control02" aria-controls="slick-slide02"
                        aria-label="3 of 2" tabindex="-1">3</button>
                </li>
                <li role="presentation">
                    <button type="button" role="tab" id="slick-slide-control03" aria-controls="slick-slide03"
                        aria-label="4 of 2" tabindex="-1">4</button>
                </li>
                <li role="presentation">
                    <button type="button" role="tab" id="slick-slide-control04" aria-controls="slick-slide04"
                        aria-label="5 of 2" tabindex="-1">5</button>
                </li>
            </ul>
            <button type="button" class="top__slidebtn slick-next "><i class="fas fa-chevron-right"></i></button>
        </div>
    </div>

    <div class="top__releasefoot">
        <a href="#" class="c-mainbtn">
            <span class="c-mainbtn__text">もっと見る</span>
            <i class="fas fa-chevron-right c-mainbtn__icon"></i>
        </a>
    </div>
</section>