<section class="top__repair">
    <div class="c-sheader">
        <h2 class="c-sheader__title">
            <span class="u-show--sp">やまとの<br>マンション管理について</span>
            <span class="u-show--pc">マンション修繕工事について</span>
        </h2>
        <p class="c-sheader__desc u-show--pc">
            定期的な修繕・改修工事はマンションの安全性・快適さを高めます。<br>自社施工体制で中間マージン等の余計な費用を削減し、質の高い工事を価格を抑えて実施。<br>長期修繕計画の見直しも、サポートします。
        </p>
        <p class="c-sheader__desc u-show--sp top__repairdescsp">修繕から運営まで、マンション管理組合様のお困りごとを幅広く解決し、快適な暮らしをサポートします。 </p>
    </div>

    <div class="top__repairbody">
        <div class="c-card">
            <div class="c-card__box">
                <picture>
                    <source media="(max-width: 1024px)" srcset="./assets/img/repair1-sp.jpg">
                    <img class="c-card__img" src="./assets/img/repair1.jpg" alt="大規模修繕">
                </picture>
                <div class="c-card__inner">
                    <a href="#">
                        <h3 class="c-card__title">大規模<span class="u-showtext--sp">`</span>修繕</h3>
                        <p class="c-card__desc c-card__desc--fixpr">
                            外壁塗装工事、屋上防水工事、給排水管工事、鉄部塗装など。
                            マンションの「物理的劣化」「機能的劣化」「社会的劣化」を
                            最適な大規模修繕工事で解決します。
                        </p>
                    </a>
    
                    <a href="#" class="top__btn c-card__btn">
                        <span class="top__btntext">もっと見る</span>
                        <i class="top__btnicon fas fa-chevron-circle-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="c-card c-card--reverse">
            <div class="c-card__box">
                <picture>
                    <source media="(max-width: 1024px)" srcset="./assets/img/repair2-sp.jpg">
                    <img class="c-card__img" src="./assets/img/repair2.jpg" alt="設備・部分的修繕">
                </picture>
                <div class="c-card__inner">
                    <a href="#">
                        <h3 class="c-card__title">設備・部分的修繕</h3>
                        <p class="c-card__desc">
                            設備部分の定期的なメンテナンス・修繕工事により経年による劣化や破損など様々な不具合を防ぎます。空調・換気設備、電灯設備、情報・通信設備等各種工事に対応します。
                        </p>
                    </a>
    
                    <a href="#" class="top__btn c-card__btn">
                        <span class="top__btntext">もっと見る</span>
                        <i class="top__btnicon fas fa-chevron-circle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="top__repairfoot">
        <a href="#" class="c-mainbtn">
            <span class="c-mainbtn__text">マンション修繕工事について</span>
            <i class="fas fa-chevron-right c-mainbtn__icon"></i>
        </a>
    </div>
</section>