<section class="service__business">
    <div class="c-sheader">
        <h2 class="c-sheader__title">マンション管理業務について</h2>
        <p class="c-sheader__desc">管理会社としてマンション管理業務全般<br>
            （大規模修繕計画・施工、設備点検・メンテナンス・修繕工事、管理組合の運営・<br>
            会計サポート、緊急対応等）をお任せいただけます。<br>
            自主管理からの移行、現管理会社からの変更両方に対応が可能です。
            
        </p>
    </div>
</section>