<%- include('_layouts/layout', { title: 'Home page' }); -%>

  <!-- @meta -->
  <meta name="description" content="Home page">
  <!-- @@meta -->

  <!-- @content -->
  <main class="top">
    <!-- Main visual -->
    <%- include('_partials/top/mainvisual') %>

    <!-- Hot News -->
    <%- include('_partials/top/hotnews') %>

    <!-- Company Management -->
    <%- include('_partials/top/company') %>

    <!-- Repair -->
    <%- include('_partials/top/repair') %>

    <!-- Release -->
    <%- include('_partials/top/release') %>

    <!-- Q&A -->
    <%- include('_partials/top/qna') %>

    <!-- Phone Sticky -->
    <%- include('_partials/top/phone') %>

  </main>
  <!-- @@content -->